<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>cupcakes</h1>
    <div class="cupcakes">
    </div>
    <label for="flavor">flavor</label>
    <input type="text" name="flavor" id="flavor">
    <label for="size">size</label>
    <input type="text" name="size" id="size">
    <label for="rating">rating</label>
    <input type="number" name="rating" id="rating">
    <label for="image">image(optional)</label>
    <input type="text" name="image" id="image">
    <button type="button" id="addBtn">add</button>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="../static/script.js" ></script>
</html>